<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!--<ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>-->
    <ion-tab-button tab="spotlight">
      <ion-icon name="film"></ion-icon>
      <ion-label>movies</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mytickets">
      <ion-icon name="card"></ion-icon>
      <ion-label>my tickets</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>my profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="food">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>food</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="promos">
      <ion-icon name="star"></ion-icon>
      <ion-label>promos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
